.theme-dark
{
    --text-title-h1: #f57800;
    --text-title-h2: #ff0000;
    --text-title-h3: #d300c4;
    --text-title-h4: #123e7c;
    --text-title-h5: #711c91;
    --text-title-h6: #0abdc6;
    --background-primary: #000b1e;
    --background-secondary: #000600;
    --qoute-border: #9d57ff;
}

/* fonts */
body {
    --text-theme: -apple-system;
    --font-editor-theme: -apple-system;
    --font-interface-theme: -apple-system;
}

.cm-header-1,
.markdown-preview-view h1
{
    color: var(--text-title-h1);
}

.cm-header-2,
.markdown-preview-view h2
{
    color: var(--text-title-h2);
}

.cm-header-3,
.markdown-preview-view h3
{
    color: var(--text-title-h3);
}

.cm-header-4,
.markdown-preview-view h4
{
    color: var(--text-title-h4);
}

.cm-header-5,
.markdown-preview-view h5
{
    color: var(--text-title-h5);
}

.cm-header-6,
.markdown-preview-view h6
{
    color: var(--text-title-h6);
}

.cm-strong {
    color: #00ff00;
}

/*italics*/
.cm-em {
    color: #9d57ff;
}

/* Tags */
.cm-s-obsidian span.cm-hashtag-begin,
.cm-s-obsidian span.cm-hashtag,
.cm-s-obsidian span.cm-hashtag-end,
a.tag {
    background-color: var(--text-accent);
    color: white;
    font-family: inherit;
    padding: 2px 0px;
    text-decoration: none;
    font-size: 14px;
}

.cm-s-obsidian span.cm-hashtag-begin {
    border-radius: 1em 0px 0px 1em;
    padding-left: 5px;
}

.cm-s-obsidian span.cm-hashtag-end {
    border-radius: 0px 1em 1em 0px;
    padding-right: 5px;
}

a.tag {
    border-radius: 1em;
    padding: 2px 5px;
}

/*qoute*/
.cm-s-obsidian span.cm-quote {
    color: #9d57ff;
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
    border: 0 solid var(--qoute-border);
    border-left-width: 5px;
    background-color: var(--background-secondary);
}

/*quick switcher suggestion*/
.suggestion-item.is-selected {
    background-color: #5963c2;
}

/*Codeblock/
